<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
   {{>navbar}}
    <!---Main Header-->
    <div class="container-fluide main_header">
        <div class="row">
            <div class="col-md-10 col-12 max-auto">
                <div class="row">
                    <!--Main header right-->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="image/404.jpg" alt="Hash" class="img-fluid" title="HashBoss">
                        </figure>
                        <p>Welcome to DungenMaster31 world</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>GoBack</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    {{>footer}}
</body>

</html>