<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
   {{>navbar}}
    <!---Main Header-->
    <div class="container-fluide main_header">
        <div class="row">
            <div class="col-md-10 col-12 max-auto">
                <div class="row">
                    <!--Main header right-->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="image/about.jpg" alt="Hash" class="img-fluid" title="HashBoss">
                        </figure>
                     </div>
                    <!--Main header left-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather page</p>
                        <h1>I am a  <span class="text_clr"> Mern Stack Devloper</span>DungenMaster31</h1>
                        <a href="/"><button>AboutMe</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    {{>footer}}
</body>

</html>